

.logo{
    position: absolute;
    margin: auto;
    top: 180px;
    left: 0;
    right: 0;
    
    }

    
.form-text{
    width: 500px;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 30px;
    padding: 12px 20px;
    background-image: url(./images/icon-search.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 8px;
                
}

.form-text:hover{
    box-shadow: 0 0 6px rgb(187, 186, 186);
    transition: all 200ms ease-out;
}

form {
    text-align: center;
}

#form-login{
    left: 50%;
    top: 40%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
} 

li img {
    padding: 0 12px;
}

.style-buttom{
    border-radius: 4px;
    border:  1px solid #f8f9fa;
    padding: 10px 20px;
    background-color: #f8f9fa;
    font-family:  arial,sans-serif;
    font-size: 15px;
    margin: 11px 14px;
    cursor: pointer;
    user-select: none;
}

.style-buttom:hover{
    border-style: solid;
    border-color: rgb(187, 186, 186);

}

/* List */

ul {
    list-style-type: none;
    margin-top:  20px;
    margin-right: 0px;
    padding: 0;
    font-family:  arial,sans-serif;
    font-size: 13px;
    
    }

li {
    float: right;
        
}

li a {
    padding: 8px;
    text-decoration: none;
    color: black;
    
}



li a:hover {
    text-decoration: underline;
    color: gray;
}
 
.login{
    width: 25px;
    height: 20px;
    
}
/* Footer */

footer{
    overflow: hidden;
    background: #f8f9fa;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: arial,sans-serif;
    list-style: none;
}

.footer-left{
    float: left;
    padding-left: 20px;
}

.footer-right{
    float: right;
    padding-right: 20px;
}

.gray{
    color: red);
}